This is 文章模組(可當blog也可當news) |
<%= link_to('產品', products_url) %>
<hr>
<div class="container">
  <table class="table">
    <tr>
      <td>標題</td>
      <td>內容</td>
    </tr>
    <% @posts.each do |f| %>
    <tr>
      <td><%= link_to(f.title, post_path(f)) %></td>
      <td><%= f.content %></td>
    </tr>
    <% end %>
  </table>
</div>
